<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Users</title>
    <link rel="stylesheet" href="../styles/colors.css">
    <link rel="stylesheet" href="../styles/fonts.css">
    <link rel="stylesheet" href="../styles/transfer.css">
    <link rel="stylesheet" href="../styles/table.css">
    <script src="../scripts/admin_updateuser.js" defer></script>
</head>
<body>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <form class="update-form" method="post" action="">
                <% users.forEach(user => { %>
                    <tr>
                        <td>
                            <input type="text" name="first_name" id="first_name_<%= user.id %>" value="<%= user.first_name %>">
                        </td>
                        <td>
                            <input type="text" name="last_name" id="last_name_<%= user.id %>" value="<%= user.last_name %>">
                        </td>
                        <td>
                            <select name="status" id="status_<%= user.id %>">
                                <option value="active" <%= user.is_active ? 'selected' : '' %>>Active</option>
                                <option value="inactive" <%= !user.is_active ? 'selected' : '' %>>Inactive</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="submit-btn" data-user-id="<%= user.id %>">Update</button>
                        </td>
                    </tr>
                <% }) %>
                </form>
            </tbody>
        </table>
    </div>
</body>
</html>
